.bgAbout {
    padding-top: 10%;
    background-image: url("../../assets/bgAbout.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.bgAbout::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
}

.title::before {
    position: absolute;
    bottom: 0.75rem;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 2px;
    background: linear-gradient(to right,#76a03f 0%,#76a03f 25%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 75%,#76a03f 75%);
}

.title::after {
    position: absolute;
    bottom: 0;
    content: '\f296';
    font-family: FontAwesome;
    left: 50%;
    transform: translateX(-50%);
    font-size: 23px;
    line-height: 1;
    color: #76a03f;
}