.sidebar {
    width: var(--sidebar-wide);
    height: 100vh;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    position: fixed;
}

.navbar {
    overflow-y: scroll;
    /* overflow: -moz-scrollbars-none;
    -ms-overflow-style: none; */
}

/* .navbar::-webkit-scrollbar{
    width: 0 !important;
    display: none; 
} */
/* width */
.navbar::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
.navbar::-webkit-scrollbar-track {
   /* box-shadow: inset 0 0 5px grey;
   border-radius: 10px; */
}
  
  /* Handle */
.navbar::-webkit-scrollbar-thumb {
    /* background: red; */
    background: rgba(26, 165, 100, 0.144);
    border-radius: 10px;
}