.sidebar {
    width: var(--sidebar-wide);
    height: 100vh;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    position: fixed;
}

.navbar {
    overflow-y: hidden;
    /* overflow: -moz-scrollbars-none;
    -ms-overflow-style: none; */
}
.navbar:hover{
    overflow-y: scroll;
}
/* .navbar::-webkit-scrollbar{
    width: 0 !important;
    display: none; 
} */
/* width */
.navbar::-webkit-scrollbar {
    width: 6px;
}
  
  /* Track */
/* .navbar::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey;
   border-radius: 10px;
} */
  
  /* Handle */
.navbar::-webkit-scrollbar-thumb {
    background: #9ef57e7e;
    /* background: rgba(145, 145, 145, 0.116); */
    border-radius: 10px;
}