@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-wide: 16rem;
  --header-height: 4rem;
  --color-primary: #0E9F6E;
  --color-bg-primary: #F9FAFB;
  --color-bg-secondary: #FFFFFF;
  --color-text-primary: #0E9F6E;
  --color-text-secondary: #707275;
}