.productDetailContainer {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 55px;
  margin-top: 120px;
  margin-bottom: 120px;
  background-color: white;
  padding: 5px 10px 60px;
}
.description {
  margin-bottom: 120px;
}
.btn {
  background-color: #eee;
  color: #333;
}
.btnActive {
  background-color: #6abd45;
  color: #fff;
  cursor: default;
}
.btnActive:hover {
  opacity: 1;
}
.star {
  color: red;
}
.editStar {
  display: inline;
}
