.banner {
  position: relative;
  padding-top: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.banner::after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
