.item {
  width: 100%;
  display: flex;
  align-items: center;
  height: 58px;
  margin: 20px 0;
  padding: 0 5px;
}
.effect {
  animation: modalAnimation ease 0.4s;
}
@keyframes modalAnimation {
  from {
    transform: translateX(150px);
  }
  to {
    transform: translateX(0px);
  }
}
