.footer {
    height: var(--footer-height);
    background-color: #252932;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .list li {
    padding: 6px 0;
    cursor: pointer;
    font-size: 15px;
  }
  .list li a:hover {
    color: #6abd45;
  }
  