.breadcrumb {
    display: flex;
    align-items: center;
    margin: 0 -14px;

}

.breadcrumb li {
    position: relative;
    margin: 0 14px;
}

.breadcrumb li:after {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: -15px;
    content: '/';
    color: inherit;
}

.breadcrumb li:last-of-type::after {
    display: none;
}