.product {
    display: block;
    overflow: hidden;
    background-color: #ffffff;
    transition:all linear 0.3s;
    position: relative;
}

.product:hover {
    top: -4px;
}

.labelProduct::after {
    content: "";
    left: 0;
    right: 0;
    top: 100%;
    position: absolute;
    border-color: transparent var(--primary-color);
    border-style: solid;
    border-width: 0 24px 12px;
}
