.layout {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9fafb;
    padding: 1.5rem;
}

.container {
    max-width: 56rem;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
}
